<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDN9q7NLS5PexZ9_gBhbg82yiJLAVtDN3U</string>
	<key>GCM_SENDER_ID</key>
	<string>985239643184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.curiousinventors.shellfinder</string>
	<key>PROJECT_ID</key>
	<string>shellfinder-7805e</string>
	<key>STORAGE_BUCKET</key>
	<string>shellfinder-7805e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:985239643184:ios:1677bf26ed42548f6fb9f5</string>
</dict>
</plist>